@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.background{
    min-height: 100vh;
    background-color:#ace7ff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 25%;
    min-width: 250px;
    height: 450px;
    text-align: center;
    background-color: #EEEDDE;
    border-radius: 20px;
    padding-top: 25px;
    overflow: scroll;
}
.cardTitle{
    background-color:#E0DDAA;
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.addItemPadding{
    padding-bottom: 20px;
}
.addContent{
    margin-top: 30px;
    font-family: inherit;
    width: 50%;
    border: 0;
    border-bottom: 2px solid #E0DDAA;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.addBtn{
    margin-left: 20px;
    font-size: 22px;
    font-weight: bolder;
    background-color: #E0DDAA;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    
}
.addBtn:hover{
    background-color: #65C18C;
}
.listItem{
    text-align: left;
    padding: 0 20px 20px;
}
.list{
    list-style: none;
    padding-left: 10px;
    font-size: 21px;
    letter-spacing: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
    display: inline;
}
.deleteBtn{
    border-radius: 50%;
    width: 21px;
    height: 21px;
    margin-bottom: 2px;
    position: relative;
    bottom: 3px;
    background-color: #E0DDAA;
    border: none;
    font-weight: bolder;
}
.deleteBtn:hover{
    background-color: #c05f41;
}
.blank{
    height: 20px;
}