*{
    margin: 0%;
    padding: 0%;
}
.header{
    width: 100%;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    color: #393E46;
    background-color: #EFEFEF;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;

}
.cards{
    min-height: 100vh;
    background-color: #222831;

}
.cardArea{
    width: 33.33%;
    min-width: 320px;
    height: 550px;
    padding-top: 100px;
    display: inline-block;
}
.card{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: #EFEFEF;
    box-shadow: 0 0 20px 5px #686D76;
    transition: 0.5s;    
}
.image{
    width: 80%;
    padding: 10%;
    height: 60%;
    border-radius: 15%;
    
}
.cardContent{
    text-align: center;
}
.title{
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;
    cursor: default;
}
.card:hover{
    transform: scale(1.1);
}
.topText{
    font-family: 'Nunito', sans-serif;
    color: #393E46;
    cursor: default;
}
.watchnow{
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  padding: 10px;
  cursor: pointer;
}

.watchnow:disabled {
  pointer-events: none;
}




