@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

.digitalClock{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}

.cTime{
    text-align: center;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #97BFB4;
    border-radius: 2rem;
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: 'Source Sans Pro', sans-serif;}