*{
    margin: 0;
    padding: 0;
}
.cardBG{
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
    width: 20%;
    min-width: 250px;
    height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding-top: 25px;
}
.incBtn,.decBtn{
    background-color: white !important;
    color: black !important;
    margin: 30px !important;
}
.num{
    background-color: black;
    margin-top: 20px;
    color: white;
    padding: 10px;
}
.buttons{
    margin-top: 100px;
}
.incBtn:hover{
    color: #65C18C !important;
}
.decBtn:hover{
    color: #EF6D6D !important;
}