@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

.background{
    min-height: 100vh;
    background-color:#343A40;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 25%;
    min-width: 250px;
    height: 450px;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding-top: 25px;
    overflow: scroll;
}

.cardTitle{
    top: -25px;
    z-index: 1;
    background-color:#D1D1D1;
    color: #343A40;
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.addBtn{
    margin-left: 20px !important;
    font-size: 22px !important;
    color: #343A40 !important;
    font-weight: bolder;
    background-color: #D1D1D1 !important;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    border: none;
    padding: 0 !important;
    
}